@import "../../../styles/variables";

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .component-wrapper {
        width: 90%;
        margin: auto;
    }
    .container {
        padding-top: 50px;
        margin-bottom: 15px;
        transform: translateX(0%);
        .login-form {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            mat-card-header {
                margin: 2em 0;
            }
            mat-card-actions {
                margin: 2em 0;
                button{
                    width: $buttonSize;
                    margin: 0.5em 0;
                }
            }
            .input-full-width {
                width: 100%;
            }
            mat-icon {
                cursor: pointer;
            }
        }
    }
}
