<section class="d-flex flex-row justify-content-between">
  <nav>
    <button mat-button>Company X</button>
    <a
      class="page-links"
      *ngFor="let link of routeLinks; let i = index"
      id="{{ link.link }}"
      [routerLink]="link.link"
      routerLinkActive="menu-link-active"
      mat-button
    >
      {{ link.label }}
    </a>

  </nav>
  <div class="logout-button d-flex flex-row align-items-center">
    <p>{{currentUser.username}}</p>
    <button mat-button (click)="logout()" title="logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</section>
