<div class="container">
  <h1 class="mat-headline text-center" i18n>Nested Data</h1>
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Policy Number</th>
      <td mat-cell *matCellDef="let element" @fade>
        <button mat-icon-button><mat-icon>expand_more</mat-icon></button>
        {{ element.num }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element" @fade>{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element" @fade>{{ element.description }}</td>
    </ng-container>
    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <app-inner-table [polId]="element.polId"></app-inner-table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
