h1 {
  margin-bottom: 0;
  padding-bottom: 5px;
}
table {
  margin-top: 40px;
  width: 100%;
  tr {
    cursor: pointer;
    transition: background-color 0.35s ease-in-out;

    &.example-detail-row {
      height: 0;
    }

    &.example-element-row:not(.example-expanded-row):hover {
      background: #cfcfcf;
    }

    &.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    width: 100%;
  }
}
